{% extends 'Base (copy).html' %}

{% block content %}
  {% if post%}
    <div class="cover">
      {% for posts in post %}
      <div class="box">
        <a href="{% url 'post_detail' posts.slug %}">
          <img src="{{ posts.image.url }}" alt="gambar">
        </a>
        <a href="{% url 'post_detail' posts.slug %}"><h4>{{ posts.title }}</h4></a>
      </div>
      {% endfor %}
    </div>
  {% else %}
      <span style="text-align: center;"><h5>Ops, keyword yang anda masukan tidak ditemukan!</h5></span>
  {% endif %}
    {% include 'pagination.html' with page=post %}

  {% endblock %}
